# Deny directory listing
Options -Indexes

# No file extension
Options +FollowSymlinks

# Redirects forbidden urls
ErrorDocument 403 http://edval60th.com

# Cant view files in includes folder
<Files ~ "\includes\.php$">
	Order allow,deny
	Deny from all
</Files>

# Caching
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
Header set Cache-Control "max-age=28800"
</FilesMatch>

RewriteEngine On
RewriteBase /

# SEO Friendly URLs
RewriteRule contact/(.*) contact.html
RewriteRule services/(.*) services.html
RewriteRule home/(.*) index.html
RewriteRule ^includes /

# No file extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ /$1.php [L,QSA]

# Eliminate trailing slash
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>